<!DOCTYPE html>
<html>
	<head>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
 	<title> Creditos </title>
 	<link rel='stylesheet' href='/stylesheets/style.css' />
 
 </head>
 <body>
 <h1>Créditos</h1>
 <p>pagina creada por:</p>
 <p>DIEGO GARCÍA HERNÁNDEZ</p>
 <img src="images/quiz.jpg" />
 </body>
 </html>
 
